@import "tailwindcss";
@font-face {
  font-family: 'CookieRunFont';
  src: url('/fonts/CookieRun Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'NoonnuFont';
  src: url('/fonts/Noonnu.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-cookierun {
  font-family: 'CookieRunFont', sans-serif;
}
.font-noonnu {
  font-family: 'NoonnuFont', sans-serif;
}

html {scroll-behavior: smooth;}

h1, h2, h3, a, p {font-family: 'Noto Sans KR', serif;}

.main-section {
  @apply font-semibold relative flex justify-center min-h-screen overflow-x-hidden;
}

.prohibit-copy{
  @apply select-none pointer-events-none;
}
